{% extends 'base.html' %}

{% block page_title %}
<h2>Postagem do blog</h2>
{% endblock page_title %}

{% block page_content %}
<h1>Projetos</h1>
<div class="row">
    {% if projetos %}
        {% for projeto in projetos %}
        <div class="col-md-4">
            <div class="card mb-2">
                {% if projeto.imagem %}
                    <img class="card-img-top" src="{{ projeto.imagem.url }}" alt="Imagem do projeto {{ projeto.titulo }}">
                {% else %}
                    <img class="card-img-top" src="{% static 'img/placeholder.png' %}" alt="Sem imagem">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ projeto.titulo }}</h5>
                    <p class="card-text">{{ projeto.descricao }}</p>
                    <a class="btn btn-primary" href="{% url 'projetos_detalhe' projeto.pk %}">Ler mais</a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="col-12">
            <p>Nenhum projeto cadastrado ainda.</p>
        </div>
    {% endif %}
</div>
{% endblock %}
