{%extends 'base.html'%}

{% block page_title %}
<h2>Postagem do blog</h2>
{% endblock page_title %}

{% block page_header %}
    <h1>Blog</h1>
    <p>Bem-vindo ao nosso blog! Aqui você encontrará as últimas novidades e artigos interessantes.</p>
{% endblock page_header %}

{% block sidebar %}
    {% include 'blog/sidebar.html' %}
{% endblock sidebar %}

{%block page_content %}
    {% block post %}
        {%for postagem in postagem%}
            <h3>
                <a href="{%url blog.detalhe postagem.pk%}">
                    {{ postagem.titulo }}
                </a>
            </h3>
            <small>
                {{ postagem.criado_em.date}} | Categoria:
                {% for categoria in postagem.categorias.all %}
                    <a href="{% url 'blog.categoria' categoria.slug %}">
                        {{ categoria.nome }}
                    </a>
                {% endfor %}
            </small>
            <p>{{ postagem.corpo | slice '400' }}...</p>
        {% endfor %}
    {% endblock post %}
{% endblock page_content %}